# /home/nyark/projects/anomaly_detection/250225_/2/Dataset/3W Dataset/anomally_division_vis_cleaned_norm/
# 250225_/2/Dataset/3W Dataset/aaa
# 250225_/2/Dataset/3W Dataset/bbb

250225_/2/Dataset/3W Dataset/anomally_division_vis_cleaned_norm
250225_/2/Dataset/3W Dataset/anomally_division_visualisation
250225_/2/Dataset/3W Dataset/clean_norm_visualisation
250225_/2/Dataset/3W Dataset/corr_plots
250225_/2/Dataset/3W Dataset/corr_plots_clean_norm
250225_/2/Dataset/3W Dataset/data_visualisation_figures
250225_/2/Dataset/3W Dataset/dataset
250225_/2/Dataset/3W Dataset/test_split
250225_/2/Dataset/3W Dataset/train_split
250225_/2/Dataset/3W Dataset/train_split_cleaned_norm
250225_/2/Dataset/3W Dataset/val_split
